src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:logger="http://www.mulesoft.org/schema/mule/logger" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
                          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/logger http://www.mulesoft.org/schema/mule/logger/current/mule-logger.xsd">

    
    
    
  <flow name="api-main">
      <http:listener config-ref="apiHttpListenerConfig" path="/*">
        <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[(vars.outboundHeaders default {}) ++ {"x-correlation-id": correlationId}]</http:headers>
      </http:response>
            
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body><![CDATA[#[payload]]]></http:body>
        <http:headers>#[(vars.outboundHeaders default {}) ++ {"x-correlation-id": correlationId}]</http:headers>
      </http:error-response>
    </http:listener>
          
    <flow-ref 
      doc:name="basic-authentication" 
      doc:id="f667d882-26da-4b07-b707-eaa2c0d99484" 
      name="basic-authentication">
    </flow-ref>
            
    <apikit:router config-ref="api-config" />
    <error-handler ref="main-logger-error-handler" />
  </flow>
    
    
    
  <flow name="api-console">
    <http:listener config-ref="apiHttpListenerConfig" path="/console/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:response>
            
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body><![CDATA[#[payload]]]></http:body>
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:error-response>
    </http:listener>
        
    <apikit:console config-ref="api-config" />
    <error-handler ref="console-error-handler" />
  </flow>
    
    
    
    <flow name="post:\log:application\json:api-config">
    <flow-ref doc:name="logger::Flow" doc:id="05d2099c-c69e-417a-88cc-f54d8039e72e" name="logger::Flow"/>
    </flow>
</mule>
